@font-face {
	font-family: "fonticon";
	src: url('../fonts/icons/fonticon.eot');
	src: url('../fonts/icons/fonticon.eot?#iefix') format('eot'),
		url('../fonts/icons/fonticon.woff2') format('woff2'),
		url('../fonts/icons/fonticon.woff') format('woff'),
		url('../fonts/icons/fonticon.ttf') format('truetype'),
		url('../fonts/icons/fonticon.svg#fonticon') format('svg');
}

@mixin icon-styles {
	font-family: "fonticon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == chevron-d {
		$char: "\E001";
	}
	@if $filename == chevron-l {
		$char: "\E002";
	}
	@if $filename == chevron-r {
		$char: "\E003";
	}
	@if $filename == chevron-u {
		$char: "\E004";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-chevron-d {
	@include icon(chevron-d);
}
.icon-chevron-l {
	@include icon(chevron-l);
}
.icon-chevron-r {
	@include icon(chevron-r);
}
.icon-chevron-u {
	@include icon(chevron-u);
}
