<!DOCTYPE html>
<html lang="es">
{% include "common/head.html" %}
<body>
  {% include "partials/header.html" %}
  <main>
  {% block content %}

  {% endblock %}
  </main>
  {% include "partials/footer.html" %}
  {% include "common/end.html" %}
</body>
</html>
